{% extends 'edx/base.html' %}
{% load i18n %}
{% load static %}

{% block title %}{% trans "Redeem" as tmsg %}{{ tmsg | force_escape }}{% endblock %}

{% block navbar %}
    {% include 'edx/partials/_student_navbar.html' %}
{% endblock navbar %}

{% block content %}
    <div id="offer">
        <div class="container">
            <div class="row">
                <div id="offerApp">
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block javascript %}
    <script src="{% static 'js/apps/coupon_offer_app.js' %}"></script>
    <script src="{% static 'js/apps/offer_app.js' %}"></script>
{% endblock javascript %}
